@import "tailwindcss";

Canvas{
    height: 100vh;
    width: 100%;
 
}
.abc{
    height: 500px;
    width: 500px;
}
.xyz{
    height: 100%;
    width: 100%;
}



.hotel{     
    height: fit-content;
    width: fit-content;
}
